*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:white;
}

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    background:#111;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

header h1{
    color:white;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:25px;
    font-size:18px;
}

nav a:hover{
    color:#ff4d4d;
}


.hero{
    display:flex;
    align-items:center;
    justify-content:space-between;

    min-height:85vh;

    padding:0 8%;
}

.texto{
    width:50%;
}

.texto h2{
    font-size:70px;
    margin-bottom:20px;
}

.texto span{
    background:#ffcc00;
    padding:5px 15px;
    border-radius:5px;
}

.texto p{
    font-size:20px;
    color:#555;
    margin-bottom:30px;
    line-height:1.6;
}

.texto button{
    padding:15px 35px;
    border:none;
    border-radius:30px;

    background:#00bfff;
    color:white;

    font-size:18px;
    cursor:pointer;
}

.texto button:hover{
    transform:scale(1.05);
}

.imagem{
    width:45%;
    display: flex;
    align-items: center;
}

.imagem img{
    width:100%;
    max-height: 450px; 
    object-fit: cover;  
    border-radius: 10px
}


.conteudo-grid{
    display:grid;
    gap:20px;
    padding:50px 8%;

    grid-template-columns:2fr 1fr;

    grid-template-areas:
    "main image"
    "main extra"
    "banner banner";
}

.main{
    grid-area:main;
}

.image{
    grid-area:image;
}

.extra{
    grid-area:extra;
}

.banner{
    grid-area:banner;
}


.main h2{
    margin-bottom:20px;
    font-size:35px;
}

.cards{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
}

.card{
    flex:1;
    min-width:220px;

    background:#f5f5f5;
    padding:25px;

    border-radius:10px;

    box-shadow:0 2px 10px rgba(0,0,0,.1);
}

.card h3{
    margin-bottom:10px;
}


.image img{
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius:10px;
}


.extra{
    background:#ffcc00;
    padding:25px;
    border-radius:10px;
}

.extra h2{
    margin-bottom:10px;
}


.banner{
    background:#111;
    color:white;

    padding:50px;
    border-radius:10px;

    display:flex;
    justify-content:space-between;
    align-items:center;
}

.banner button{
    padding:15px 30px;
    border:none;
    border-radius:30px;

    background:#00bfff;
    color:white;

    cursor:pointer;
}


@media(max-width:768px){

    header{
        flex-direction:column;
        gap:15px;
    }

    .hero{
        flex-direction:column;
        text-align:center;
        gap:40px;
        padding:50px 8%;
    }

    .texto,
    .imagem{
        width:100%;
    }

    .texto h2{
        font-size:50px;
    }

    .conteudo-grid{
        grid-template-columns:1fr;

        grid-template-areas:
        "main"
        "image"
        "extra"
        "banner";
    }

    .banner{
        flex-direction:column;
        gap:20px;
        text-align:center;
    }
}